*{
    box-sizing: border-box;
}
#navigationMenu{
    display: flex;
    justify-content: space-between;
    margin: 0% 6% 15px 6%;
}

#navigationMenu a{
    text-decoration: none;
    width: fit-content;
}
.navigationButton{
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
}
.navigationButton:hover{
    background-color: hsl(0, 0%, 30%);
}
.navigationButton:active{
    opacity: 0.8;
}
#choiceButtons{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    justify-content: space-evenly;
    width: 95%;
    margin: 1% auto;
}
.playButton{
    font-size: 2.2em;
    padding: 10%;
    border: 1px solid black;
    border-radius: 90px;
    background-color: #fff;
    cursor: pointer;
}
.playButton:hover{
    background-color: hsl(0, 0%, 90%);
}
.playButton:active{
    opacity: 0.8;
}

#scoreTable, #decision{
    display: flex;
    justify-content: space-between;
    margin: 0% 6%;
}
.scoreCounter{
    font-size: 1.5em;
}

#animationsImages{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 65%;
    margin: auto;
    border-radius: 40px;
    overflow: hidden;
}

#animationsImages img{
    display: inline;
    width: 49%;
}
#gameStart{
    animation-name: sizeChange, blink;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
}
#user{
    animation-name: userAnimation;
    animation-duration: 1.5s;
}
#computer{
    animation-name: computerAnimation;
    animation-duration: 1.5s;
}

@keyframes userAnimation{
    from{
        transform: translateX(-50%);
    }
}
@keyframes computerAnimation{
    from{
        transform: translateX(50%);
    }
}
@keyframes sizeChange {
    60%{
        transform: scale(1.3);
    }
}