*{
    box-sizing: border-box;
}
#navigationMenu{
    display: flex;
    justify-content: space-between;
    margin: 0% 6% 5px 6%;
}

#navigationMenu a{
    text-decoration: none;
    width: fit-content;
}
.navigationButton{
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
}
.navigationButton:hover{
    background-color: hsl(0, 0%, 30%);
}
.navigationButton:active{
    opacity: 0.8;
}
#animationsImages{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 80%;
    min-height: 160px;
    margin: 5px auto;
    border-radius: 400px;
    overflow: hidden;
}

#animationsImages img{
    display: inline;
    width: 49%;
}
#gameStart{
    animation-name: changeSize, blink;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
}
#user{
    animation-name: userAnimation;
    animation-duration: 0.5s;
}
#computer{
    animation-name: computerAnimation;
    animation-duration: 0.5s;
}

#choiceButtons{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    justify-content: space-evenly;
    width: 95%;
    margin: 1% auto;
}
.playButton{
    font-size: 2.2em;
    padding: 10%;
    border: 1px solid black;
    border-radius: 90px;
    background-color: #fff;
    cursor: pointer;
}
.playButton:hover{
    background-color: hsl(0, 0%, 90%);
}
.playButton:active{
    opacity: 0.8;
}

#scoreTitle{
    margin-bottom: 0px;
}
#scoreTable, #decision{
    display: flex;
    justify-content: space-between;
    margin: 0px 6%;
}
.scoreCounter{
    font-size: 1.5em;
}
.resultIndicator{
    display: block;
    animation: changeSize 1s infinite;
}
#win{
    color: hsl(120, 72%, 50%);
}
#loss{
    color: hsl(0, 100%, 56%);
}
#draw{
    color: hsl(51, 100%, 56%);
}
.growSize{
    animation-name: changeSize;
    animation-duration: 2s;
    animation-iteration-count: 29090;
}
@keyframes userAnimation{
    from{
        transform: translateX(-50%);
    }
    80%{
        transform: rotateZ(-45deg);
    }
}
@keyframes computerAnimation{
    from{
        transform: translateX(50%);
    }
    80%{
        transform: rotateZ(45deg);
    }
}
@keyframes changeSize{
    60%{
        transform: scale(1.3);
    }
}
@media screen and (max-width:670px){
    #animationsImages{
        width: 90%;
    }
}